@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("^https?://(www|encrypted)\.google(\.[a-z]{2,3}){1,2}/((search\\?|((webhp)?(\\?|#))).*)?$") {

#appbar,
#top_nav,
#rhscol {
    min-width: 0!important;
}

#center_col {
    margin-left: 120px!important;
}

#searchform {
    position: fixed!important;
    z-index: 103;
}

#hdtbMenus {
    display: block!important;
    position: fixed!important;
    top: 60px!important;
    height: 22px!important;
    width: 100%!important;
    padding-bottom: 5px!important;
    padding-top: 7px!important;
    border-bottom: 1px solid #ebebeb!important;
    overflow: visible!important;
}

#hdtbSum {
    position: fixed!important;
    top: 60px!important;
    height: 100%!important;
    width: 120px!important;
    border-bottom: none!important;
    border-right: 1px solid #ebebeb;
    background: #FFF !important;
    z-index: 102;
}

#hdtb-more {
    display: block!important;
    position: relative!important;
    top: 0!important;
    padding: 0!important;
    border: none!important;
}

.hdtbItm.hdtbSel,
#hdtb .hdtbItm a,
#hdtb-more-mn a,
.hdtbItm > label,
#cdrlnk {
    line-height: 42px!important;
}

#hdtb-msb {
    border-right: 1px solid #ebebeb;
}

#hdtb-msb > .hdtb-mitem.hdtb-msel + .hdtb-mitem,
#hdtb-msb > .hdtb-mitem.hdtb-msel + #hdtb-more + #hdtb-more-mn .hdtb-mitem {
    border-top: 1px solid #ebebeb!important;
}

#hdtb-msb > .hdtb-mitem:first-child {
    margin-left: 0!important;
    border-bottom: none!important;
}

#hdtb-msb > .hdtb-mitem:first-child:not(.hdtb-msel) {
    border-bottom: 1px solid #ebebeb!important;
}

#hdtb-msb .hdtb-mitem.hdtb-msel,
#hdtb-msb .hdtb-mitem.hdtb-msel-pre {
    margin-left: 0!important;
    border-bottom: none!important;
    border-left: 3px solid #dd4b39;
}

#hdtb-msb .hdtb-mitem {
    float: left!important;
    height: 54px!important;
    width: 120px!important;
    border-bottom: 1px solid #ebebeb;
    clear: left!important;
}

#hdtb-msb .hdtb-mitem:hover:not(.hdtb-msel) {
    background: #f1f1f1 !important;
}

#hdtb-msb,
#hdtb-msb .hdtb-mitem {
    width: 100%!important;
}

#hdtb-tls,
#hdtb-more,
#epbar {
    display: none!important;
}

#ab_ctls {
    position: fixed!important;
    top: 48px!important;
    right: 35px!important;
}

#ab_ctls a.ab_button {
    min-width: 10px!important;
}

#rcnt {
    margin-top: 80px!important;
}

#gsr table.gssb_c {
    position: fixed!important;
}

#appbar {
    position: absolute!important;
    top: 94px!important;
}
}
