@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("^https?://(www|encrypted)\.google(\.[a-z]{2,3}){1,2}/((search\\?|((webhp)?(\\?|#))).*)?$") {

#top_nav,
#rhscol {
    min-width: 0!important;
}

#cnt {
    padding-top: 4em!important;
}
    
#rcnt {
    margin-left: 10em!important;
}

#center_col {
    margin-left:0!important;
}

#searchform {
    position: fixed!important;
    z-index: 103;
}

#hdtbMenus {
    display: block!important;
    position: fixed!important;
    top: 60px!important;
    padding: 0!important;
    padding-top: .5em!important;
    width: 100%!important;
    min-height: 2em !important;
    overflow: visible!important;
    background: #fafafa!important;
    border-bottom: 1px solid #ebebeb!important;
    z-index: 103;
}

#hdtb {
    position: fixed!important;
    top: 7.5em!important;
    width: 8em!important;
    z-index: 102;
    border-bottom: none!important;
    background: none!important;
}

#hdtbSum {
    z-index: 104;
    border-bottom: none!important;
    background: none!important;
}
    
#hdtb-more-mn {
    position: relative!important;
    top: 0!important;
    left: 0!important;
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
    padding: 0!important;
}
    
.hdtbItm.hdtbSel,
#hdtb .hdtbItm a,
#hdtb-more-mn a,
.hdtbItm > label,
#cdrlnk {
    line-height: 42px!important;
}

#hdtb .hdtb-mitem,
#hdtb-more {
    float: left!important;
    clear: left!important;
    box-sizing: border-box;
    margin: 0!important;
    padding: 0!important;
    margin-left: 2em!important;
}

#hdtb .hdtb-mitem a,
#hdtb-more {
    display: block;
    margin: 0;
    padding: 0!important;
}

#hdtb-msb .hdtb-mitem.hdtb-msel,
#hdtb-msb .hdtb-mitem.hdtb-msel-pre {
    margin-left: 0!important;
    padding-left: 1.5em!important;
    border: none!important;
    border-left: 3px solid #4285f4!important;
}

#hdtb-more-mn .hdtb-mitem a:hover {
    background: transparent!important;
}

#hdtb-msb,
#hdtb-msb .hdtb-mitem {
    width: 100%!important;
}

#hdtb-tls,
#epbar {
    display: none!important;
}

#ab_ctls {
    position: fixed!important;
    top: 48px!important;
    right: 30px!important;
}

#ab_ctls a.ab_button {
    min-width: 10px!important;
}

#gsr table.gssb_c {
    position: fixed!important;
}

#bcenter > .col {
    float: right!important;
}

#irc_bg {
    left: auto!important;
}    

}
