@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("^https?://(www|encrypted)\.google(\.[a-z]{2,3}){1,2}/((search\\?|((webhp)?(\\?|#))).*)?$") {
 
    /* Top search bar 
     *   Stick it to the top.
     */
    #searchform {
        position: fixed!important;
    }
    .sfbgx {
        position: fixed!important;
        height: 100px!important;
        z-index: 2;
    }
    #cnt {
        padding-top: 35px!important;
    }
    
    
    /* Top navigation with Search links (Web, Images, Maps..) 
     *   Place as a drop down list to the left.
     */
    #hdtbSum {
        position: fixed!important;
        background: white!important;
        margin-top: 1px!important;
    }
    #hdtb-msb {
        min-width: 130px!important;
    }
    #center_col {
        margin-left: 150px!important;
    }
    .hdtb-mitem {
        display: block!important;
        margin: 0!important;
        height: auto!important;
        padding-top: 0!important;
    }
    .hdtb-mitem:not(#ab_options) > a,
    #hdtb-msb div:first-child g-popup a {
        display: block!important;
        width: 100%!important;
        padding: 1.5em!important;
    }
    .hdtb-mitem.hdtb-msel,
    .hdtb-mitem.hdtb-msel-pre {
        margin: 0!important;
        padding: 1.5em!important;
        border: none!important;
        border-left: 3px solid #4285f4!important;
    }
    
    #hdtb-msb div:first-child g-popup > div {
        display: block!important;
        top: auto!important;
        box-shadow: none!important;
    }
    #hdtb-msb div:first-child g-popup .hdtb-dd-b {
        display: none!important;
    }
    #hdtb-msb div:first-child g-menu-item {
        background: none!important;
    }
    
    
    /* Search option menus (Country, Language, Date,..)
     *   Placed under search bar.
     */
    #hdtbMenus {
        position: fixed!important;
        top: 72px!important;
        display: block!important;
        padding: 0!important;
        z-index: 3!important;
    }
    #hdtb {
        margin-top: 0!important;
        position: static!important;
    }
    #hdtb-tls {
        display: none!important;
    }
    
    
    /* Settings button
     *   Placed under login button.
     */
    #abar_button_opt {
        position: fixed!important;
        top: 66px!important;
        right: 14px!important;
        padding-left: 8em!important;
    }
    #ab_options {
        position: fixed!important;
        top: 100px!important;
        right: 0!important;
        margin-right: 10px!important;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    }
    
    
    /* SafeSearch button
     *   Place under login button before settings button.
     */
    #ab_ctls {
        position: fixed!important;
        top: 54px!important;
        right: 150px!important;
    }
    a.ab_button {
        color: #777;
    }
}
